* {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
}

a {
  text-decoration: inherit;
  color: inherit;
}

body {
  background-color: #e2e2e2;
  margin: 0;
  height: 100vh;
  overflow: hidden;
  max-width: 2500px;
  margin: 0 auto;
  box-shadow: 0 0 10vw 2vw #25363a;
}

button {
  border: none;
  padding: 15px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 8px 0px;
  cursor: pointer;
  border-radius: 10px;
  width: 80%;
  box-shadow: 0 10px 5px -5px #080f11;
}

button:active {
  box-shadow: 0 5px 3px -2px #080f11, inset 0 0px 6px 1px #212324;
}

button:disabled {
  opacity: 60%;
  cursor: unset;
}

button:disabled:active {
  box-shadow: none;
}

button:not(:empty):not(.selectBtn) {
  width: auto;
}

form .responseFromServer {
  width: 100%;
  text-align: center;
  margin-top: 5px;
  text-decoration-line: underline;
}

h1 {
  color: #e2e2e2;
  font-size: 30px;
  margin-bottom: 40px;
  text-align: center;
}

h2 {
  text-align: left;
  color: #ffffff;
  margin: 5px;
  margin-left: 8px;
}

h3 {
  text-align: center;
  color: #25363a;
  font-size: 30px;
}

h6 {
  font-size: 50px;
  font-weight: 300;
  margin: auto;
}

.slide:first-of-type h6 {
  font-size: 100px;
  font-weight: 400;
  margin: auto;
}
header div .appIcon {
  height: 30px;
  opacity: 0.8;
  padding: 0;
}

header div .editIcon {
  padding: 2px 2px 0;
  background-color: #6d8990;
  border: 1px solid #fff;
  max-height: 100%;
  font-size: unset;
}

header div button {
  height: auto;
  box-shadow: none;
  margin: auto 5px;
}

header div .shareBtn {
  padding: 5px 10px 4px;
}

header div .shareBtn .appIcon {
  height: 20px;
  margin-right: 10px;
}

header div:not(.selectOptions) {
  display: flex;
  align-content: center;
  height: 100%;
}

header {
  width: 100%;
  display: flex;
  min-height: 40px;
  height: 4%;
  max-height: 60px;
  background-color: #485153;
  box-shadow: 0 4px 6px #191c1d;
  z-index: 9999;
  justify-content: space-between;
}

hr {
  background-image: linear-gradient(90deg, #5e606100, #919191b7, #5e606100);
  height: 1px;
  width: 90%;
  border: none;
}

#shareLink {
  display: none;
  position: absolute;
  margin-top: 15px;
  margin-right: 15px;
  z-index: 99;
}

input {
  border: none;
  border-radius: 5px;
  font-size: 20px;
  margin-bottom: 0px;
  padding: 4px;
  box-shadow: inset 0 0 4px #212324;
  width: 97%;
}

input:nth-of-type(1) {
  margin-bottom: 10px;
}

.alert {
  position: absolute;
  text-align: center;
  background-color: #fff;
  font-size: 28px;
  font-weight: 300;
  border-radius: 25px;
  width: 500px;
  height: auto;
  left: 50%;
  top: 30%;
  margin-left: -250px;
  padding: 60px 40px;
}

.alert button {
  box-shadow: 0 6px 5px -5px #080f11c9;
}

/* TEST --------- PLEASE IGNORE ----- START*/
.chooseImg {
  position: absolute;
  text-align: center;
  background-color: #fff;
  font-size: 28px;
  font-weight: 300;
  border-radius: 25px;
  padding: 40px 30px;
  width: 700px;
  height: auto;
  left: 50%;
  top: 20%;
  margin-left: -350px;
}

.chooseimgsection {
  display: flex;
  justify-content: space-between;
  align-content: space-between;
  margin: auto;
  margin-bottom: 50px;
  width: auto;
  max-width: 90%;
}

.chooseimgsection:last-of-type {
  display: inline;
  margin: auto;
  margin-top: 50px;
}

.chooseimgsection input {
  width: auto;
  margin-top: 28px;
}

.chooseimgsection img {
  width: 30%;
  border: 2px solid #4e926300;
  border-radius: 25px;
  overflow: hidden;
}
/* TEST --------- PLEASE IGNORE ---- END*/

.aspectRatio {
  width: 100%;
  padding-top: 56.25%;
  position: relative;
}

.btnGreen {
  background-color: #4e9263;
  color: white;
}
.btnGreen:disabled {
  background-color: #305c3e;
}

.btnGrey {
  background-color: #e2e2e2;
  color: #25363a;
}

.btnGrey:disabled {
  background-color: #87898a;
}

.deleteBtn {
  color: #940000;
  border: 1px solid #940000;
  background-color: #e4d6d6;
}

.disableTotalScreen,
.containerChooseImg {
  background-color: rgba(42, 43, 44, 0.3);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  display: none;
  z-index: 999;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.dot.crntSlide {
  background-color: #626262;
}

.dot:hover {
  background-color: #717171;
}

.dropdownArw {
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 12px solid #525657;
  margin-top: 4px;
  border-radius: 3px;
}

.editActiveArea {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.editIcon {
  display: none;
}

.editMenu {
  background-color: #25363a;
  border: none;
  padding: 10px 20px 10%;
  min-width: 220px;
  max-width: 420px;
  width: 20%;
  height: 94%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

.editMenu h2 {
  text-shadow: 0 10px 5px #080f11;
}

.editWrapper {
  display: flex;
  align-items: stretch;
  flex-direction: row-reverse;
  height: 100%;
}

.menuSection .btnGrey:not(:nth-last-child(1)) {
  padding-top: 5px;
  padding-bottom: 5px;
}

.menuSection {
  flex-wrap: wrap;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-content: stretch;
  width: 100%;
}

.next {
  right: 0;
  background: linear-gradient(
    90deg,
    rgba(143, 143, 143, 0),
    rgba(179, 179, 179, 0.6)
  );
}

.prev {
  left: 0;
  background: linear-gradient(
    90deg,
    rgba(179, 179, 179, 0.6),
    rgba(143, 143, 143, 0)
  );
}
.prev,
.next {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: inherit;
  color: #505557;
  font-size: 7vw;
  height: 100%;
  width: 10%;
  z-index: 99;
  opacity: 0;
  transition: opacity 0.6s, transform 0.6s;
  transition-delay: 0.3s;
  user-select: none;
}

.prev:hover,
.next:hover {
  cursor: pointer;
  opacity: 70%;
  transform: scale(1.3);
}

.selectBtn {
  width: 80%;
  border-radius: 6px;
  display: flex;
  justify-content: space-between;
  align-content: center;
  background-color: #f9f9f9;
  padding: 5px;
  margin: 4px auto 4px 0;
  position: relative;
}

.selectBtn:hover .selectOptions,
.selectOptions:hover {
  visibility: visible;
  opacity: 1;
}

.selectBtn:hover {
  box-shadow: inset 0 0 10px 6px #e2e2e2;
}

.selectOptions p {
  color: #212324;
  padding: 10px;
  margin: 0;
  text-decoration: none;
  cursor: pointer;
  background-color: #fff;
  width: 100%;
  transition: transform 0.6s ease-in-out;
  transform-origin: left;
}

.selectOptions:not(.themes) p:hover {
  text-shadow: 0 5px 5px#a5a5a5;
  transform: scale(1.05);
}

.selectOptions.themes p:hover {
  transform: scale(1.2);
  transform-origin: left;
}

.selectOptions.themes p:nth-child(1):hover {
  transform-origin: top left;
}

.selectOptions.themes p:last-child:hover {
  transform-origin: bottom left;
}

.selectOptions {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #fff;
  box-shadow: 0 2px 6px 2px #213033;
  z-index: 9999;
  width: 100%;
  opacity: 0;
  overflow: hidden;
  text-align: left;
  visibility: collapse;
  transition: visibility 0.3s, opacity 0.3s, text-shadow 0.3s;
  transition-delay: 0.3s;
}

.signupHeading {
  display: flex;
  flex-direction: column;
}

.signupLoginWrapper button {
  width: 40%;
  margin: 20px 0 0;
}

.signupLoginWrapper form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  justify-self: center;
  margin-top: 40px;
  background-color: #25363a;
  border: none;
  max-width: 400px;
  padding: 50px 80px 30px;
  border-radius: 10px;
  font-size: 20px;
}

.signupLoginWrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  color: #e2e2e2;
}

.slide img {
  max-width: 100%;
  max-height: 100%;
  align-self: center;
  height: inherit;
}

.slide {
  margin: auto;
  height: 90%;
  width: 65%;
  text-align: center;
  flex-direction: column;
}

.slide ul {
  text-align: left;
  font-size: 30px;
  margin: auto;
  width: 100%;
}

.slideContent :not(img) {
  font-family: inherit;
}

.slideContent {
  width: 100%;
  height: 100%;
  font-family: inherit;
  display: flex;
  justify-content: center;
  align-content: center;
}

.slideShowbodyDefault img,
.slideShowbodySakura img {
  border: 1px solid #444849;
}

/* ---- THEMES ---------------*/

.slideShowbodyDefault,
.slideShowbodyGeometric,
.slideShowbodySakura {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 80%;
  height: 80%;
  margin: auto 10% 4%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-content: center;
}

.slideShowbodyDefault {
  background-color: #fff;
  box-shadow: 0 25px 10px -15px #080f11, inset -0.4vw -0.4vw 0 0 #15414b,
    inset -0.3vw -0.3vw 0 0.8vw #cadce0, inset -0.2vw -0.2vw 0 1.1vw #15414b;
}

.slideShowbodyGeometric {
  box-shadow: 0 25px 10px -15px #080f11;
  background: url(../svg/geomBorder.svg) no-repeat;
  background-position: center;
  background-size: 95% 95%;
  background-color: #1b202c;
  color: #ffc65c;
  text-shadow: 0 -2px 3px#191c1d;
  font-family: 'Limelight', cursive;
}

.slideShowbodySakura {
  box-shadow: 0 25px 10px -15px #080f11, inset 0 0 0 1vw #ffc5cf,
    inset 0 0 0 1.5vw #fff;
  font-family: 'Courier New', Courier, monospace;
  font-weight: normal;
  background-color: #ffc5cf;
  box-sizing: border-box;
}

#createPres {
  font-size: 20px;
  width: auto;
}
#deleteUser {
  color: #940000;
}

#headerLogo {
  margin-left: 20px;
  width: 200px;
}

#loginLogo {
  margin: 0 30px 50px;
}

#presentMode .appIcon {
  height: 25px;
  opacity: 0.5;
  padding-left: 15px;
}

#presentMode {
  background-color: #46818f;
  border: 1px solid #fff;

  margin-bottom: 50px;
  display: flex;
  align-content: center;
}

#signupLogo {
  width: 120px;
  margin-top: -10%;
  margin-left: -30%;
  opacity: 50%;
}

#userIcon div {
  width: 230px;
  left: -192px;
  top: 50px;
  font-size: 20px;
  text-shadow: none;
}

#userIcon {
  width: 38px;
  height: 38px;
  margin: auto 20px auto 5px;
  border-radius: 50%;
  color: #fff;
  font-weight: 400;
  font-size: 28px;
  justify-content: center;
  align-content: center;
  background-color: #e77793;
  box-shadow: inset 2px -2px 10px 1px #5d1426;
  padding: 2px;
}

#addImgOk {
  margin: 20px 80px 0 0;
  padding: 10px 20px;
  box-shadow: 0 6px 5px -5px #080f11c9;
  float: right;
}

#xIcon {
  float: right;
  margin-top: -20px;
  opacity: 0.8;
  width: 40px;
  cursor: pointer;
}
