
/* General */
body{
    background-color:#E2E2E2;
    font-family: sans-serif;
}

.editWrapper {
    display: grid;
    grid-template-columns: 20% auto;
    grid-template-rows: 80vh auto;
    align-items: stretch;
    margin: 0;
}
.loginWrapper {
    display: flex;
    justify-content: center;
}

.header {
    height: 5%;
    max-height: 200px;
    background-color: #485153;
}

/* Text Styles */
h1{
    color: #E2E2E2;
    font-size: 30px;
    margin-bottom: 40px;
    text-align: center;
}

/* Diffrent Div Styles */ 
.SignUpandLogIn{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #25363A;
    border: none;
    max-width: 250px;
    padding: 40px 120px;
    border-radius: 10px;
    font-size: 10px;
}

.editMenu {
    grid-column: auto;
    grid-row: 1 / span 2;
    background-color: #25363A;
    border: none;
    padding-left: 5%;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    display: flex;
    flex-direction: column;
}

.slide {
    display: flex;
    grid-column: 2 / span 1; 
    grid-row: 1 / span 1;
    position: relative;
    background-color: #ffffff;
    border: 1px solid black; 
}


/* Buttons and Inputs */
input {
    border-radius: 5px;
    font-size: 20px;
    margin-bottom: 26px;
}

.BtnGreen {
     background-color:#4e9263;
     border: none;
     color: white;
     padding: 15px 20px;
     text-align: center;
     text-decoration: none;
     display: inline-block;
     font-size: 20px;
     margin: 8px 8px;
     cursor: pointer;
     border-radius: 10px;
    
}
.BtnGrey {
     background-color:#E2E2E2;
     border: none;
     color:  #25363A;
     padding: 15px 20px;
     text-align: center;
     text-decoration: none;
     display: inline-block;
     font-size: 20px;
     margin: 8px 8px;
     cursor: pointer;
     border-radius: 10px;
}

.round {
    border-radius: 50%;
  }
  
  .BtnLeftRight{
       margin: 40vh auto;
       display: flex;
       flex-direction: row;
       justify-content: space-between;
       flex-wrap: wrap;
       max-width: 97vw;
        
  }
  .PresDiv{
      
      display: flex;
      align-items:stretch;
      flex-wrap: wrap;
      justify-content: center;
      background-color: grey;
      padding: 130px 100px;
      border-radius: 10px;
      font-size: 10px;
  }
  
  a {
    text-decoration: none;
    display: flex;
    flex-wrap: wrap;
    color:  #25363A;
    justify-content: center;
    align-content: center;
    border-radius: 30px;
    padding: 15px 20px;
    width: 50px;
    height: 60px;
    font-size: 60px;
    opacity: 0.3;
  
  }
  
  a:hover {
    opacity: 1.0;
    
  }
  
