:root {
    --edit-slide-width: 70vw;
    --edit-slide-height: 3;
}
/* General */
body{
    background-color:#E2E2E2;
    font-family: sans-serif;
    margin: 0;

}

.editWrapper {
    display: flex;
    align-items: stretch;
    height: 100vh;
}
.loginWrapper {
    display: flex;
    justify-content: center;
}

.header {
    position: fixed;
    width: 100%;
    height: 3%;
    max-height: 60px;
    min-height: fit-content;
    background-color: #485153;
}

/* Text Styles */
h1{
    color: #E2E2E2;
    font-size: 30px;
    margin-bottom: 40px;
    text-align: center;
}

h3.userAddedText {
    padding: 10px 20px;
    width: min-content;
    border: 2px solid green;
    position: absolute;
}

/* Diffrent Div Styles */ 
.SignUpandLogIn{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #25363A;
    border: none;
    max-width: 250px;
    padding: 40px 120px;
    border-radius: 10px;
    font-size: 10px;
}

.editMenu {
    background-color: #25363A;
    border: none;
    padding-top: 5%;
    max-width: 20%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.editActiveArea {
    display: flex;
    flex-direction: column;
}

.slideDiv {
    min-width: 1280px;
    min-height: 720px;
    margin: 5% 10%;
    background-color: #ffffff;
    border: 1px solid black; 
}

.editFooter {
    border: 2px solid black;
    height: 20%;
    margin: 0;
    align-self: stretch;
    justify-self: flex-end;
}


/* Buttons and Inputs */
input {
    border-radius: 5px;
    font-size: 20px;
    margin-bottom: 26px;
}

.BtnGreen {
     background-color:#4e9263;
     border: none;
     color: white;
     padding: 15px 20px;
     text-align: center;
     text-decoration: none;
     display: inline-block;
     font-size: 20px;
     margin: 8px 8px;
     cursor: pointer;
     border-radius: 10px;
    
}
.BtnGrey {
     background-color:#E2E2E2;
     border: none;
     color:  #25363A;
     padding: 15px 20px;
     text-align: center;
     text-decoration: none;
     display: inline-block;
     font-size: 20px;
     margin: 8px 8px;
     cursor: pointer;
     border-radius: 10px;
}
