:root {
  --edit-slide-width: 70vw;
  --edit-slide-height: 3;
}
/* General */
body {
  background-color: #e2e2e2;
  font-family: sans-serif;
  margin: 0;
  height: 100vh;
  overflow: hidden;
}

.editWrapper {
  display: flex;
  align-items: stretch;
  height: 100vh;
}
.loginWrapper {
  display: flex;
  justify-content: center;
}

.header {
  color: #ffffff;
  position: fixed;
  width: 100%;
  height: 3%;
  max-height: 60px;
  min-height: fit-content;
  background-color: #485153;
  box-shadow: 0 2px 4px #191c1d;
  z-index: 9999;
}

/* Text Styles */
h1 {
  color: #e2e2e2;
  font-size: 30px;
  margin-bottom: 40px;
  text-align: center;
}

.h2menu {
  text-align: left;
  color: #ffffff;
  margin-bottom: -4px;
  margin-left: 8px;
}

h3.userAddedText {
  padding: 10px 20px;
  width: 50px;
  height: 20px;
  border: 2px solid green;
  position: absolute;
  transform: translateY(350px);
  transform: translateX(615px);
}

/* Diffrent Div Styles */
.SignUpandLogIn {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #25363a;
  border: none;
  max-width: 250px;
  padding: 40px 120px;
  border-radius: 10px;
  font-size: 10px;
}

.editMenu {
  background-color: #25363a;
  border: none;
  padding: 5% 20px;
  min-width: fit-content;
  width: 20%;
  max-width: 350px;
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}

.editActiveArea {
  display: flex;
  flex-direction: column;
}

.slideDiv {
  min-width: 1280px;
  min-height: 720px;
  margin: 5% 10%;
  background-color: #ffffff;
  border: 1px solid black;
}

.editFooter {
  border: 2px solid black;
  height: 20%;
  width: 100%;
  margin: 0;
  align-self: flex-end;
  justify-self: stretch;
}

#savePresForm {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Buttons and Inputs */
.input {
  border: none;
  border-radius: 5px;
  font-size: 20px;
  margin-bottom: 0px;
  padding: 4px;
  box-shadow: inset 0 0 4px #212324;
  width: 97%;
}

.BtnGreen {
  background-color: #4e9263;
  border: none;
  color: white;
  padding: 15px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 8px 8px;
  cursor: pointer;
  border-radius: 10px;
}

/* Selects and styles all the formsubmission things. 
[type="submit"] {
    width: 100%;
}*/

#saveNewPres {
  width: 80%;
  margin-top: 10px;
}

#presentMode {
  margin-top: auto;
  align-self: flex-end;
  justify-self: center;
  margin-bottom: 50%;
}

.BtnGrey {
  background-color: #e2e2e2;
  border: none;
  color: #25363a;
  padding: 15px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 8px 8px;
  cursor: pointer;
  border-radius: 10px;
}

.round {
  border-radius: 50%;
}

.BtnLeftRight {
  margin: 40vh auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 97vw;
}
.PresDiv {
  display: flex;
  align-items: stretch;
  flex-wrap: wrap;
  justify-content: center;
  background-color: grey;
  padding: 130px 100px;
  border-radius: 10px;
  font-size: 10px;
}

a {
  text-decoration: none;
  display: flex;
  flex-wrap: wrap;
  color: #25363a;
  justify-content: center;
  align-content: center;
  border-radius: 30px;
  padding: 15px 20px;
  width: 50px;
  height: 60px;
  font-size: 60px;
  opacity: 0.3;
}

a:hover {
  opacity: 1;
}

#crntPresentation {
  appearance: none;
  border: none;
  border-radius: 5px;
  color: #25363a;
  cursor: pointer;
  font-size: 18px;
  margin-bottom: 5px;
  padding: 4px;
  display: grid;
  align-items: center;
  box-shadow: inset 0 0 4px #25363a;
}

#crntPresentation::after {
  content: '';
  height: 5px;
  width: 7px;
  background-color: #25363a;
  clip-path: polygon(100% 0%, 0% 0%, 50% 100%);
  justify-self: end;
}

.dot {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background-color: #485153;
  cursor: pointer;
  margin: 0 2px;
}
